.about {
    padding-bottom: 12px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__img {
        margin-right: 33px;
    }

    &__text {
        max-width: 600px;
    }

    &__title {
        margin-bottom: 22px;
    }

    &__descr {
        max-width: 551px;
       
    }
}