.about {
    padding-bottom: 12px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__img {
        flex-grow: 1;
        margin-right: 33px;
    }

    &__text {
        flex-shrink: 1;
    }

    &__title {
        margin-bottom: 22px;
    }

    &__descr {
        max-width: 551px;
        font-size: 22px;
        line-height: 27px;

        opacity: 0.8;
       
    }
}