.advantages {
    padding-bottom: 90px;
    &.negative-space {
        margin-top: -50px;
    }
}

.advantages-inner {
    display: flex;
    
    justify-content: space-between;
    align-items: baseline;
}

.advantages-item {
    max-width: 210px;
    text-align: center;

    &__title {
        font-weight: bold;
        font-size: 96px;
        line-height: 1;

        text-transform: uppercase;

        color: #2E2E2E;
        border-bottom: 3px solid #B7B7B7;
        margin-bottom: 16px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      

        span {
            font-size: 48px;
            line-height: 1;
            padding-bottom: 15px;
            display: inline-block;
            &:not(.small-text) {
                margin-left: 5px;
            }
        }
        span.small-text {
            font-size: 36px;
            margin-right: 10px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        color: #000000;

        opacity: 0.7;
        
    }
}