.promo {

    min-height: 100vh;
    background: right center  / contain no-repeat;

    padding-top: 70px;
    padding-bottom: 230px;

    &__title {
        margin-bottom: 30px;
        max-width: 1084px;
    }

    &__text {
        font-weight: 500;

margin-bottom: 45px;
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    

    &__info {
        max-width: 276px;
        margin-left: 21px;
        font-weight: 500;

opacity: 0.8;
    }
}

